
h1 {
    text-align: center;

}
h5 {
    text-align: center;
}
.fails {
    text-align: right;
}
.deaths {
    text-align: right;
}
.wins {
    text-align: right;

}
#startButton {
    text-align: center;
    margin: 0 auto;
}
#blanks {
    text-align: center;
    font-size: 48px;
    letter-spacing: 5px;

}
.buttons {
    text-align: center;
    padding: 20px 5px;
}
.start {
    position: relative;
    
    width: 270px;
    height: 204px;   
    margin: 0 auto;
    display: show;
    
}
.lose {
    position: relative;
    width: 270px;
    height: 204px;
    margin: 0 auto;
    display: none;

}
.jumbotron {
    margin: 0 auto;
    text-align: center;
}
.waves-effect waves-light btn-large {
    margin: 0 auto;
}
#hint {
    text-align: center;
    font-size: 24px;
}

.fails {
    font-size: 18px;
}

.wins {
    font-size: 18px;
}

.deaths {
    font-size: 18px;
}
#failCount {
    color: red;
    font-size: 18px;
}

#winCount {
    color: green;
    font-size: 18px;
}

#bodyCount {
    color: red;
    font-size: 18px;
}